<div class="section">
  <h1 class="title is-2 has-text-dark has-text-centered"><%= @user.username %>'s Events</h1><br>
  
  <div class="columns is-centered">
    <div class="column is-two-fifths">
      <% @user.events.each do |event| %>
        <% if event.id.to_i % 2 == 0 %>
          <div class="box has-background-light">
            <div class="content">
              <strong><%= event.name %></strong>
              <small><%= event.date %></small><br>
              <small><%= event.description %></small>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    
    <div class="column is-two-fifths">
      <% @user.events.each do |event| %>
        <% if event.id.to_i % 2 == 1 %>
          <div class="box has-background-light">
            <strong><%= event.name %></strong>
            <small><%= event.date %></small><br>
            <small><%= event.description %></small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>