<div class="section">
  <h1 class="title is-3 has-text-dark has-text-centered">Future Events</h1><br>
  <div class="columns is-centered is-multiline">
    <div class="column is-two-fifths">
    <h1 class="title is-5 has-text-dark has-text-centered">Created Events</h1><br>
      <% event = Event.where("date > ? AND creator_id = ?", Time.now, @user.id) %>
      <% event.each do |event| %>
        <div class="box has-background-light">
          <div class="content">
            <strong><%= event.name %></strong>
            <small><%= (event.date).strftime("%d/%m/20%y") %></small><br>
            <small><%= event.description %></small>
          </div>
          <div class="content has-text-centered has-text-dark">
            <div class="button">
              <%= link_to 'View', "/events/#{event.id}" %>
            </div>
            <div class="button is-centered has-text-dark">
              <%= link_to 'Leave', "/attendees/#{event.id}", method: :delete %>
            </div>
            <div class="button is-centered">
              <%= link_to 'Edit', "/events/#{event.id}/edit" %>
            </div>
            <div class="button is-centered">
              <%= link_to 'Delete', "/events/#{event.id}", method: :delete, data: { confirm: "Are you sure you want to delete this Event?" } %>
            </div>
          </div>
        </div>
      <% end %>
    
    </div>

    <div class="column is-two-fifths">
    <h1 class="title is-5 has-text-dark has-text-centered">Joined Events</h1><br>
      <% event = Event.joins(:events_users).where("attendee_id = ? AND date > ?", @user.id, Time.now) %>
      <% event.each do |event| %>
        <% if event.creator.id != @user.id %>
          <div class="box has-background-light">
            <div class="content">
              <strong><%= event.name %></strong>
              <small><%= (event.date).strftime("%d/%m/20%y") %></small><br>
              <small><%= event.description %></small>
            </div>
            <div class="content has-text-centered">
              <div class="button">
                <%= link_to 'View', "/events/#{event.id}" %>
              </div>
              <div class="button is-centered">
                <%= link_to 'Leave', "/attendees/#{event.id}", method: :delete %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="section">
  <h1 class="title is-3 has-text-dark has-text-centered">Past Events</h1><br>
  <div class="columns is-centered is-multiline">
    <div class="column is-two-fifths">
      <% event = Event.where("date < ? AND creator_id = ?", Time.now, @user.id) %>
      <% event.each do |event| %>
        <div class="box has-background-light">
          <div class="content">
            <strong><%= event.name %></strong>
            <small><%= (event.date).strftime("%d/%m/20%y") %></small><br>
            <small><%= event.description %></small>
          </div>
          <div class="content has-text-centered has-text-dark">
            <div class="button">
              <%= link_to 'View', "/events/#{event.id}" %>
            </div>
            <div class="button is-centered has-text-dark">
              <%= link_to 'Leave', "/attendees/#{event.id}", method: :delete %>
            </div>
            <div class="button is-centered">
              <%= link_to 'Delete', "/events/#{event.id}", method: :delete, data: { confirm: "Are you sure you want to delete this Event?" } %>
            </div>
          </div>
        </div>
      <% end %>
    
    </div>

    <div class="column is-two-fifths">
      <% event = Event.joins(:events_users).where("attendee_id = ? AND date < ?", @user.id, Time.now) %>
      <% event.each do |event| %>
        <% if event.creator.id != @user.id %>
          <div class="box has-background-light">
            <div class="content">
              <strong><%= event.name %></strong>
              <small><%= (event.date).strftime("%d/%m/20%y") %></small><br>
              <small><%= event.description %></small>
            </div>
            <div class="content has-text-centered">
            <div class="button">
              <%= link_to 'View', "/events/#{event.id}" %>
            </div>
            <div class="button is-centered">
              <%= link_to 'Leave', "/attendees/#{event.id}", method: :delete %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>