<div class="section">
<% @event = Event.find(params[:id]) if @event.nil? %>
  <h1 class="title is-2 has-text-dark has-text-centered"><%= @event.name %></h1><br>
  
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <div class="box has-background-light">
        <div class="content">
            <strong><%= @event.name %></strong>
            <small><%= (@event.date).strftime("%d/%m/20%y") %></small><br>
            <small>Event host: <%= @event.creator.username %></small></i><br><br>
            <small><%= @event.description %></small><br><br>
            <h1 class="title is-6 has-text-dark has-text-centered">Attendees</h1>
            <% @event.attendees.each do |attendee| %>
            <div class="content has-text-centered">
              <small><%= attendee.username %></small><br>
              <% end %>
            </div>
            <div class="content has-text-centered">
              <% if current_user.attended_events.include?(@event) %>
                <div class="button is-centered">
                  <%= link_to 'Leave Event', "/attendees/#{@event.id}", method: :delete %>
                </div>
              <% else %>
                <div class="button is-centered">
                  <%= link_to 'Join Event', "/attendees/new/#{@event.id}" %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>