<!DOCTYPE html>
<html>
  <head>
    <% flash.each do |type| %>
      <% if !notice.nil? %>
        <p class="notice"><%= notice %></p>
      <% elsif !alert.nil? %>
        <p class="alert"><%= alert %></p>
      <% end %>
    <% end %>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="dropdown navigation">
      <div class="navbar-start">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4 has-text-white-bis">Private Events</h1>
        <% end %>
      </div>

      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <div class="navbar-item">
            <p class="control">
              <%= link_to root_path, class: "level-item" do %>
                <span class="icon">
                  <i class="fa fa-home fa-lg" style="color:white"></i>
                </span>
              <% end %>
            </p>
          </div>

          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <%= current_user.name %>
              </a>

              <div class="navbar-dropdown">
                <div class="navbar-item">
                  <%= link_to 'My Events', "/users/#{current_user.id}" %>
                </div>
                <div class="navbar-item">
                  <%= link_to 'New Event', new_event_path %>
                </div>
                <div class="navbar-item">
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Join / Log in
              </a>

              <div class="navbar-dropdown">
                <div class="navbar-item">
                  <%= link_to 'Log In', new_user_session_path %>
                </div>

                <div class="navbar-item">
                  <%= link_to 'Sign Up', new_user_registration_path %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield %>
  </body>
</html>
